{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit: {{ title }} - Encyclopedia
{% endblock %}

{% block body %}
<div class="container">
    <form class="text-center" action="{% url 'edit' title %}" method="POST">
        {% csrf_token %}
        <p class="errorlist">{{ error }}</p>
        {{ new_form }}
        <div>
            <input class="btn btn-lg btn-outline-success" type="submit" title="Save article" value="Save article">
        </div>        
    </form>    
</div>
{% endblock %}